<div class="container register">
    <div class="row">
        <div class="center-form panel">
            <div class="panel-body">
                <h2 class="text-center">Register</h2>

                <form ng-submit="register()">

                    <div class="form-group">
                        <input class="form-control" type="text" ng-model="email" placeholder="Username" require autofocus>
                    </div>

                    <div class="form-group">
                        <input class="form-control" type="password" ng-model="password" placeholder="Password" require>
                    </div>

                    <button type="submit" class="btn btn-lg btn-block">Register</button>
                </form>

            </div>
        </div>
    </div>
</div>
